/*------------------------------------*\
    		$SETTINGS
\*------------------------------------*/

/* ============== // Transition // ============== */

$transition-time: .3s;
$transition-method: ease-in-out;


/* ============== // FONTS // ============== */

/* ============== // COLORS // ============== */
$principal : #333;
